@media (min-width: 1200px) {
	.article--featured {
		animation: 1s ease-out 0s 1 marginUp;
		.post {
			animation: 1s ease-out 0s 1 fadeIn;
		}
		header {
			animation: .5s ease-out 0s 1 fadeIn;
		}
	}
	//.featured__container,
	.musing, 
	.update, 
	.interview {
		.featured__container img {
			animation: 1s ease-out 0s 1 marginUp;
			//max-height: 40rem;
		}
	}
	
}

@media (min-width: 1300px) {

	.musing, 
	.update, 
	.interview {
		.sidebar-2 {
			animation: 1s ease-out 0s 1 slideDown;
		}
	}
	.page-autonomusings {

		.sidebar-2 {
			position: absolute;
			right: 1rem;
			top: 7rem;
			max-width: 20%;
			animation: 1s ease-out 0s 1 slideUp;
		}
		.content {
			animation: 1s ease-out 0s 1 slideUp;
		}
		.post-list,
		.sidebar__updates {
			animation: .5s ease-out 0s 1 fadeIn;
		}

	}

	
}


@keyframes marginUp {
	0% 		{ transform: translateY(5rem); }
	100% 	{ transform: translateY(0); }
}

@keyframes slideUp {
	0% 		{	transform: translateY(2rem);	}
	100% 	{	transform: translateY(0);	}
}
@keyframes slideDown {
	0% 		{	transform: translateY(-2rem);	}
	100% 	{	transform: translateY(0);	}
}

@keyframes fadeIn {
	0%		{ opacity: 0; }
	100%	{ opacity: 1; }
}