// mobile ~320..480px
// 320px ~ 16rem/16px ~ 18.8235/17px ~ 17.7778/18px
// 480px ~ 30rem/16px ~ 28.2353rem/17px ~ 26.6667rem/18px
.hidden {
  visibility: hidden;
}

.related-content h3 {
  margin-bottom: 0;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.related-content {
  margin-bottom: 2rem;
  padding-bottom: 0rem;
  border-bottom: 1px solid #ddd;
}



.related__item {
  display: flex;
  margin-bottom: 1.5rem;
}
.related__subject-image {
  max-width: 7rem;
  margin-left: 1rem;
  padding: .5rem;
  order: 2;
}
.related__item .item__title--big {
  font-size: 1.5rem;
}


.tab-links .tab {
  display: none;
}
.tabs .switch {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  html,
  body {
    font-size: $small-device-font-size;
  }
  .content.container {
    padding-top: 6rem;
  }
  .sidebar {
    li {
      padding: .1rem 0;
    }
  }
  
  .sidebar .sidebar-about {
    text-align: left;
  }


  .hidden-tablet {
    display: none;
  }
  .site__description {
    display: none;
  }
  
  .upper.front__header {
    display: none;
  }

  .element--center.logo--large {
    display: none;
  }

  .author-image {
    display: inline-block;
    position: absolute;
    padding: .75rem .5rem .5rem 0;
  }
  .logo--small {
    display: block;
    height: 4.5rem;
    margin: 0;
  }
   
  .sidebar {
    margin: 0;
    padding: 0;
  }
  .sidebar-nav {
    text-align: right;
    margin-bottom: 0rem;
  }
  .sidebar-nav li a {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .25em;
    padding: .8rem 2rem;
    display: block;
  }

  .sidebar-2 {
    .section__title, .upper {
      font-size: 1.25rem;
    }
  }


  /*  MENU  (20-768) */
  
  .menu-content {
    padding: 0 0 0 0px;
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    top: 4.5rem;
    position: absolute;
    right: 1rem;
    //border-bottom: 1px solid $mid;
    z-index: 3;
  }
  .collapsible-menu {
    padding: 0px 0px; 
  }
  .collapsible-menu ul {
    margin-top: 0;
    padding: 0 0 1rem 0;
    list-style-type: none;
    text-align: right;
    background: $gray-2;
    border-bottom: 3px solid $dark;
    border-right: 2px solid $light;
    border-radius: 3px;
  }
  .collapsible-menu li {
    display: block;
  }
  .collapsible-menu a {
    text-decoration: none;
    cursor: pointer; 
  }
  .collapsible-menu label {
    background: url(../img/menu-open-dark-3.svg) no-repeat center center;
    display: block;
    cursor: pointer;
    width: 40px;
    padding: 10px;
    position: absolute;
    right: 1rem;
    top: 2rem;
    //z-index: 5;
  }
  
  input#menuToggle {
    display: none; 
  }
  input#menuToggle + label {
    font-weight: bold;
  }

  input#menuToggle:checked + label {
    background-color: $gray-2;
    background-image: url(../img/menu-close-dark.svg); 
    border-right: 2px solid $light;
    border-radius: 3px;
    //color: #fff;
  }
  
  input#menuToggle:checked ~ .menu-content {
    max-height: 100% !important;
  }


  .social {
    padding: 1em 0 1em 0;
  }

  .featured__wrap--fixed {
    max-height: 12rem;
  }

  .article--featured {
    padding-top: 1rem;
  }


  .post-list__item .featured-image {
    max-height: 10rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }


  .list-page.post-list__item {
    .interview__subject-image {
      float: left;
      max-width: 5rem;
      margin-right: 1rem;
    }
  }


  span.featured-time {
    display: none;
  }


  /* Remove redundant Updates from mobile front page */
  /* and update list */

  .page-autonomusings,
  .page-updates {
    .sidebar-2__container {
      .section-title.upper,
      .sidebar__updates,
      .see-all__wrapper {
      display: none;
      }
    }
  }

    /* Interview Pages (0 - 768 ) */

  .interview__subject {
    display: flex;
    justify-content: space-between;
  }
  .interview__subject-img {
    width: 30%;
    max-height: 6rem;
  }

  .interviews .featured_image {
    display: none;  
  }
  .interviews .interview__subject {
    padding-top: 1rem;
  }

  h1, .section__title {
    font-size: 1.5rem;
  }
  .interview__subject-info .autonotalks, 
  .interview__subject-info .autonotalks-presents {
    font-size: .7rem;
  }

  .page-updates.updates,
  .page-musings.musings {
    .section__title {
      display: none;
    }
  }


}

@media (min-width: 331px) {

  /*  TABS  ( 331+ ) */

  .tabs .switch {
    display: none;
    width: 68%;
    top: 2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    z-index: 1;
    $font-family: $secondary-font-family;
    text-transform: uppercase;
  }

  .tab-links {
    display: flex;
    padding-bottom: 1em;
    position: absolute;
    top: 2.4rem;
    width: 68%;
    padding-left: 3rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .tab-links .tab {
    width: 50%;
    padding: .25rem 1rem 3px;
    font-size: .8rem;
    font-family: $secondary-font-family;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: $body-bg;
    color: $dark;
  }

  .tab-links .tab {
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 2;
    border-bottom: 1px solid $light;
    &:hover,
    &:focus {
      color: $purple;
    }
  }
  .tab-links.page-updates #updates-tab {
    border-bottom: 3px solid $purple;
  }
  .updates .tab-links #updates-tab {
    border-bottom: 3px solid $purple;
  }
  .musings .tab-links #musings-tab {
    border-bottom: 3px solid $purple;
  }

  #musings-switch:checked ~ .tab-links #musings-tab,
  #updates-switch:checked ~ .tab-links #updates-tab {
    //background-color: #fff;
    color: $dark;
    cursor: default;
    border-bottom: 3px solid $purple;
  }

  .tabs .panel {
    position: absolute;
    display: inline-block;
    left: -9999;
    bottom: -9999;
    opacity: 0;
  }

  /* This is the magic - http://alistapart.com/article/radio-controlled-web-design */
  #musings-switch:checked ~ .panels #musings-switch-panel,
  #updates-switch:checked ~ .panels #updates-switch-panel {
    position: relative;
    left: 0;
    opacity: 1;
  }

  /* PRESENTATIONAL STYLES */


  .tabs .tab {
    &:hover,
    &:focus {
      color: $purple;
    }
  }

}

// tablet/medium device ~768px+
// 768px ~ 48em/16px ~ 45.1765em/17px ~ 42.6667/18px
@media (min-width: 768px) {
  html,
  body {
    font-size: $small-device-font-size;
  }
  body {
    display: flex;
  }

  .site__nav, 
  .sidebar {
    width: 33.33%;
    max-width: 22rem;
  }
  .site__main {
    width: 66.67%;
  }

  .tablist-front {
    display: none;
  }

  .logo--small {
    display: none;
  }
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 18rem;
  }
  .sidebar-sticky {
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .content {
    //margin-left: 20rem;
    margin-right: 2rem;
    max-width: 38rem;
  }
  .layout-reverse {
    .sidebar {
      left: auto;
      right: 0;
    }
    .content {
      margin-left: 2rem;
      //margin-right: 20rem;
    }
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .project__title {
    margin-top: 0.2rem;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    a {
      width: calc(50% - 10px);
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }
  input#menuToggle,
  input#menuToggle + label {
    display: none;
  }


  .copyright {
    margin: 3rem 1rem 2rem;
  }


  span.featured-time {
    display: none;
  }

/*  TABS  (768 +) */
  .tab-links { 
    display: none;
  }
  .tabs .switch {
    display: none;
  }
  .tabs .tab-links {
    display: none;
  }
  #updates-switch-panel {
    display: none;
  }


  /* Interview Pages (768 +) */

  .interview__subject {
    display: flex;
  }
  .interview__subject-img {
    max-width: 6rem;
    margin-right: 1rem;
  }
  .interview__subject-info {
    order: 2;
  }



  .author-bio .author-bio__img {
		.profile-image {
			height: 12rem;
			width: auto;
			max-width: none;
    }
  }


}

// Large devices (laptops/desktops, 992px and up) 
// ~ 62rem/16px ~ 58.3529rem/17px ~ 55.1111rem/18px
@media (min-width: 992px) {
  

  .site__nav, 
  .sidebar {
    width: 33.33%;
  }
  .site__main {
    width: 66.67%;
  }
  .hidden-mid {
    display: none;
  }
  .content {
    margin-right: 2rem;
    // max-width: 46.056rem;
    max-width: 48rem; // @ ~70 CPL
  }

  body {
    &.page-autonomusings,
    &.page-musings, 
    &.categories,
    &.tags,
    &.page-interviews,
    &.page-updates {
      .content {
        margin-left: 7rem;
      }
    }
  }
  
  .layout-reverse .content {
    margin-left: 4rem;
    //margin-right: 22rem;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
  }
  .portfolio-container {
    width: 1360px;
  }
  
  .sidebar .sidebar-about {
    text-align: center;
    max-width: 80%;
  }

  span.featured-time {
    display: none;
  }

  .related__item {
    width: 33%;
    margin-right: 2rem;
  }

  figure {
    margin: 2rem -1rem 2rem;
  }
}

// Large device ~1024px
// 1024px ~  64rem/16px ~ 60.2353rem/17px 56.8889rem/18px
@media (min-width: 1024px) {


  .post-list__item {
    padding-left: 7rem;
    margin-left: -7rem;
  }
  .site__nav, 
  .sidebar {
    width: 25%;
  }
  .site__main {
    width: 75;
  }
  // styles
  /*
  html,
  body {
    font-size: $large-device-font-size;
  }
  */

  span.featured-time {
    display: inline-block;
  }  
}


@media (min-width: 1100px) {
	.content {
		padding-bottom: 2rem;
		padding-top: 2rem;
  }
  
  .about,
  .authors {
    .content {
      padding-top: 4rem;
    }
  }

	.front-item__wrap {
		margin-left: 16rem;
		clear: none;
		background-color: white;
		padding: 0 4rem;
		position: relative;
		font-size: .8rem;
		line-height: 1.8em;
		.item__title--big {
			font-size: 1.5rem;
		}
	}

	.profile-image {
		margin: 0 auto 1rem;
	}

	.interview__subject-image {    
		position: absolute;
		width: 16rem;
	}

	.interview__subject-image,
	.featured-image {    
		position: absolute;
		max-width: 16rem
  }
  
  .related__list {
    display: flex;
    justify-content: flex-start;
  }
  .related__item {
    flex-grow: 1;
  }
  .related__subject-image {
    max-width: 8rem;
    padding: .5rem;
    display: block;
    max-width: 8rem;
    img {
      margin-bottom: 0; 
    }
  }
}

@media (min-width: 1240px) {

  .site__nav, 
  .sidebar {
    width: 22rem;
  }
  .site__main {
    width: 80%;
  }

  .sidebar {
    .author-image {
      min-height: 279px;
    }
  }
  .sidebar-2__container {
    padding: 0rem 3rem;
  }
  
  .related__item {
    display: flex;
    width: 33%;
    margin-right: 2rem;
  }
  .related__subject-image {
    max-width: 5rem;
    margin-right: .5rem;
    padding: .5rem;
  }


  /* Interview Pages (1240 +) */

  .interview__subject {
    display: flex;
    justify-content: space-between;
  }
  .interview__subject-info {
    order: 1;
  }
  .interview__subject-img {
    order: 3;
    width: 30%;
    max-width: 18rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-right: 0;
  }

}




@media (min-width: 1300px) {
	.page-autonomusings .post-list__item:nth-child(1) {
		height: 30rem;
	}
	.page-autonomusings .post-list__item:nth-child(1) .front-item__wrap{
		position: absolute;
		bottom: 0;
		padding: 1.5rem 4rem;
		font-size: 1rem;
		.item__title--big {
			font-size: 1.785rem;
		}
	}
	.page-autonomusings .post-list__item:nth-child(1) .featured-image {
		max-width: 45rem;
		width: 45rem;
	}
	.sidebar-2 {
		position: absolute;
		right: 1rem;
		top: 9rem;
		max-width: 20%;
	}

}
@media (min-width: 1480px) {
	.sidebar-2 {
		right: 5rem;
	}
}
