<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ block "header" . }}{{ end }}
	<body class="page-{{ .Title | urlize }} {{ .Section | urlize }}">
		<div class="site__nav">
			{{ partial "sidebar.html" . }}
		</div>
		<div class="site__main">
			<div class="content container">
				{{ if ne .Kind "home" }}
					{{ partial "tab-links.html" . }}
				{{ end }}
				{{ block "content" . }}{{ end }}
				{{ partial "micromodal-updates.html" . }}
			</div>
			<div class="content-secondary container">
				{{ block "content-secondary" . }}{{ end }}
			</div>
			<div class="sidebar-2__wrapper container">
				{{ partial "sidebar-2.html" . }}
			</div>
			{{ block "footer" . }}{{ end }}
		</div>
	</body>
</html>
