{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
    <div class="about-page">
        <h1>About Us</h1>
        <p>Our mission is to foster a thriving ecosystem of hundreds of innovative robotics companies as they solve an unimaginable array of important problems. To succeed, they are going to need access to the same quality of development tools and data infrastructure that made the web and mobile revolutions possible, but built to their needs. That's where Raven&#65339;Ops&#65341; comes in.</p>
    </div>
{{ end }}

{{ define "footer" }}
{{ partial "page-single/footer.html" . }}
{{ partial "footer/font-awesome-js.html" . }}
{{ partial "footer/micromodal-js.html" . }}
{{ end }}
